Agentic RAG.json
{
  "name": "Agentic RAG",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a8772e37-9593-4321-8dbe-0b933d3cf7f9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1r4H2qeeI_a5A9hWJH4uYmw2H-95rm5IU",
            "mode": "list",
            "cachedResultName": "Investment Documents",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1r4H2qeeI_a5A9hWJH4uYmw2H-95rm5IU"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "a4e49805-64cc-422d-9b26-6c4431a28b4d",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "FMjB3rEX0khqIaAX",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "07d788af-6bd6-409c-9662-447e7072298f",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "FMjB3rEX0khqIaAX",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "fdi-documents",
          "mode": "list",
          "cachedResultName": "fdi-documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        624,
        0
      ],
      "id": "4ce7b3b7-0b93-459f-be5a-6dc8b1988aea",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "bzQxDcdPimhnRf84",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file-name",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        768,
        160
      ],
      "id": "d8f495c9-4c69-40e6-ab92-8cae500577f3",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 250,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        656,
        320
      ],
      "id": "9fa698f4-6978-480f-a656-581aa1d841d4",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        528,
        192
      ],
      "id": "3e024ac1-8724-48dc-b095-928b8a041b8f",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "BPAYmX9MklujJzoX",
          "name": "Google Gemini API Key"
        }
      }
    },
    {
      "parameters": {
        "content": "## Ingestion Workflow\nPrepare the vector databse "
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        16
      ],
      "typeVersion": 1,
      "id": "199179b2-14bc-4a9a-a457-d9f4b8994df0",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ae55f821-d02f-4984-b4a5-2afae986ca7b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8f3ef6964907e464e9f338a22ed10bb430511410ef9f35689cbba4eddb2dbc33"
  },
  "id": "LylKDI96sHMJBqDW",
  "tags": []
}